<div class="modal fade" id="Salidas" tabindex="-1" aria-labelledby="modalRegistroLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRegistroSalidas">Nueva salida</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/registro_tinacos_salidas" method="post" onsubmit="return SalidasTinacoFormulario()" >
                    <input type="hidden" id="id_producto" name="id_producto" >
                    
                    <div class="mb-3">
                        <label for="proveedoresS" class="form-label">Proveedor</label><br>
                        <select id="proveedoresS" name="proveedoresS" class="form-control" >
                            <option value="" id="proveedoresS">Selecciona una opción</option>
                            {% for proveedor in proveedores %}
                            <option value="{{ proveedor.id_proveedor }}">{{ proveedor.nombre }}</option>
                            {% endfor %}
                        </select> 
                    </div>
                    <div class="mb-3">
                        <label for="productoS" class="form-label">Nombre</label>
                        <input type="txt" class="form-control" id="productoS" name="productoS" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="litrosS" class="form-label">Litros</label>
                        <input type="txt" class="form-control" id="litrosS" name="litrosS" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="colorS" class="form-label">Nombre</label>
                        <input type="txt" class="form-control" id="colorS" name="colorS" readonly>
                    </div>
                    
                    <div class="mb-3">
                        <label for="categoriasS" class="form-label">Categoría</label><br>
                        <select id="categoriasS" name="categoriasS" class="form-control" readonly>
                            <option value="" id="categoriasS">Selecciona una opción</option>
                            {% for categoria in categorias %}
                            <option value="{{ categoria.id_categoria }}">{{ categoria.nombre }}</option>
                            {% endfor %}
                        </select> 
                    </div>
                    <div class="mb-3">
                        <label for="salidaTINACO" class="form-label">Cantidad de salida</label>
                        <input type="txt" class="form-control" id="salidaTINACO" name="salidaTINACO">
                        <div class="invalid-feedback" id="SalidaErrorTINACO"></div>
                    </div>
                    <div class="mb-3">
                        <label for="fechaTINACO" class="form-label">Fecha</label>
                        <input type="date" class="form-control" id="fechaTINACO" name="fechaTINACO">
                        <div class="invalid-feedback" id="fechaSalidaErrorTINACO"></div>
                    </div>
                    <div class="mb-3">
                        <label for="destinoTINACO" class="form-label">Destino</label>
                        <input type="txt" class="form-control" id="destinoTINACO" name="destinoTINACO">
                        <div class="invalid-feedback" id="destinoSalidaErrorTINACO"></div>
                    </div>
                    <div class="mb-3">
                        <label for="estatusTINACO" class="form-label">Estatus</label><br>
                        <select id="estatusTINACO" name="estatusTINACO" class="form-control">
                            <option value="" id="salidas">Selecciona una opción</option>
                            <option>Realizado</option>
                            <option>No realizado</option>
                            
                        </select> 
                        <div class="invalid-feedback" id="estatusSalidaErrorTINACO"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-danger" id="Registrar" name="Registrar">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>

  