<div class="modal fade" id="Salidas" tabindex="-1" aria-labelledby="modalRegistroLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRegistroSalidas">Nueva salida</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/registro_sanitarios_salidas" method="post" onsubmit="return validarFormularioSalidasSanitarios()" >
                    <input type="hidden" id="id_producto" name="id_producto">
                    <div class="mb-3">
                        <label for="proveedores" class="form-label">Proveedor</label><br>
                        <select id="proveedores" name="proveedores" class="form-control" readonly >
                            <option value="" id="proveedores">Selecciona una opción</option>
                            {% for proveedor in proveedores %}
                            <option value="{{ proveedor.id_proveedor }}">{{ proveedor.nombre }}</option>
                            {% endfor %}
                        </select> 
                        <div class="invalid-feedback" id="proveedoresSalidaError"></div>
                    </div>
                    <div class="mb-3">
                        <label for="producto" class="form-label">Nombre</label>
                        <input type="txt" class="form-control" id="producto" name="producto" readonly>
                        <div class="invalid-feedback" id="productoSalidaError"></div>
                    </div>
                    <div class="mb-3">
                        <label for="categorias" class="form-label">Categoría</label><br>
                        <select id="categorias" name="categorias" class="form-control" readonly>
                            <option value="" id="categorias">Selecciona una opción</option>
                            {% for categoria in categorias %}
                            <option value="{{ categoria.id_categoria }}">{{ categoria.nombre }}</option>
                            {% endfor %}
                        </select> 
                        <div class="invalid-feedback" id="categoriasSalidaError"></div>
                    </div>
                    <div class="mb-3">
                        <label for="salida" class="form-label">Cantidad de salida</label>
                        <input type="txt" class="form-control" id="salida" name="salida">
                        <div class="invalid-feedback" id="SalidaErrorSA"></div>
                    </div>
                    <div class="mb-3">
                        <label for="fechaSA" class="form-label">Fecha</label>
                        <input type="date" class="form-control" id="fechaSA" name="fechaSA">
                        <div class="invalid-feedback" id="fechaSalidaErrorSA"></div>
                    </div>
                    <div class="mb-3">
                        <label for="destino" class="form-label">Destino</label>
                        <input type="txt" class="form-control" id="destino" name="destino">
                        <div class="invalid-feedback" id="destinoSalidaErrorSA"></div>
                    </div>
                    <div class="mb-3">
                        <label for="estatus" class="form-label">Estatus</label><br>
                        <select id="estatus" name="estatus" class="form-control">
                            <option value="" id="salidas">Selecciona una opción</option>
                            <option>Realizado</option>
                            <option>No realizado</option>
                            
                        </select> 
                        <div class="invalid-feedback" id="estatusSalidaErrorSA"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-danger" id="Registrar" name="Registrar">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>

  <script>
    function validarFormularioSalidasSanitarios() {
        var isValid = true;
      
        var entrada = document.getElementById('salida').value;
        var entradaError = document.getElementById('SalidaErrorSA');
        var expresionent = /^[0-9]{1,10}$/;
      
         if (!expresionent.test(entrada)) {
            entradaError.textContent = 'Por favor, ingresa un número. Sin espacios.';
            entradaError.style.display = 'block';
            isValid = false;
        } else {
            entradaError.textContent = '';
            entradaError.style.display = 'none';
        }
      
        var fecha = document.getElementById('fechaSA').value;
        var fechaError = document.getElementById('fechaSalidaErrorSA');
        var fechaActual = new Date().toISOString().split('T')[0];
        
        if (fecha === "") {
            fechaError.textContent = 'Por favor, selecciona una fecha.';
            fechaError.style.display = 'block';
            isValid = false;
        } else if (fecha < fechaActual) {
            fechaError.textContent = 'La fecha no puede ser menor a la fecha actual.';
            fechaError.style.display = 'block';
            isValid = false;
        } else if (fecha > fechaActual) {
            fechaError.textContent = 'La fecha no puede ser mayor a la fecha actual.';
            fechaError.style.display = 'block';
            isValid = false;
        }
        else {
            fechaError.textContent = '';
            fechaError.style.display = 'none';
        }
      
        var destino = document.getElementById('destino').value;
        var destinoError = document.getElementById('destinoSalidaErrorSA');
        var expresiondes = /^[A-Z](?:[a-zA-Z0-9áéíóúüñ]+(?:\s[a-zA-Z0-9áéíóúüñ]+)*)?$/;

         if (!expresiondes.test(destino)) {
            destinoError.textContent = 'Por favor, ingresa un destino correcto. Sin múltiples espacios.';
            destinoError.style.display = 'block';
            isValid = false;
        } else {
            destinoError.textContent = '';
            destinoError.style.display = 'none';
        }



        var estatus = document.getElementById('estatus').value;
        var estatusError = document.getElementById('estatusSalidaErrorSA');
        if (estatus === "") {
            estatusError.textContent = 'Por favor, selecciona un estatus.';
            estatusError.style.display = 'block';
            isValid = false;
        } else {
            estatusError.textContent = '';
            estatusError.style.display = 'none';
        }
      
        return isValid;
      }
</script>